<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: rgba(0, 0, 255, 0.265);
        font-family: Arial, sans-serif;
        flex-direction: column;
    }
    h1 {
        font-size: 10rem;
        margin: 0;
    }
    p {
        margin: 0;

    }


</style>
    <h1>404</h1>
    <p>Page not found</p>
    
</body>
</html>