<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/styles/tailwindcss.css" rel="stylesheet" />
  </head>
  <body>
    <section
      style="background-image: url(&quot;/images/products.png&quot;)"
      class="bg-gray-550 text-center"
    >
      <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
      >
        <div
          class="w-full rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0"
        >
          <div class="bg-slate-400">
            <h2 class="p-5 bg-brand-primary">
              Ooh Sorry , You Lost Your Password
            </h2>
            <p class="p-10 text-blue-500">
              Please Contact the Admin to Reset Your Password
              the email address is <a href="mailto:tetx@gmnailcom">tetx@gmnailcom</a>
              or call  <br><a href="tel:1234567890">1234567890</a><br>
              the whatsapp number is <a href="https://wa.me/1234567890">1234567890</a> <br>

            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
